body {
/*	background-color: #D5D6DD; */
	background-color: #C1FFC1;
}

#game {
	height: 600px;
	width: 800px;
	border: 10px solid #8B67A5;
	background-color: #FF8247;
	margin: auto;
	position: relative;
}

.food {
	height: 50px;
	width: 50px;
	border-radius: 10px;
	position: absolute;
	background-color: #B6FCD5;
	z-index: 2;
}

.segment {
	height: 50px;
	width: 50px;
	border-radius: 10px;
	position: absolute;
	background-color: #777777;
	z-index: 3;
}
